controllers
controllers/*
images
images/*
node_modules
node_modules/*
plugins
plugins/*
services
services/*
tests
tests/*
.jshintrc
bitbucket-pipelines.yml
build.js
jsdoc.conf.json
oldwatch.txt
webpack.config.js
write-ftp-config.js